@media (max-width: 1200px) {
    .hero {
        .container {
            grid-template-columns: 1fr;
        }

        .aside {
            z-index: 10;
            position: fixed;
            display: block;
            padding: 10px 12px;
            left: 0;
            bottom: 0;
            width: 100%;
            border-radius: 7px 7px 0 0;
            box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.15);

            &__heading {
                display: none;
            }

            &__images {
                display: none;
            }

            &__info {
                display: none;
            }
        }
    }
}