@media (max-width: 1200px) {
    .hero {
        .container {
            grid-template-columns: 1fr;
        }

        .aside {
            display: none;
        }
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}