@media (max-width: 500px) {
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .swiper {
        &-scrollbar {
            display: none;
        }

        &-pagination {
            display: block;
        }
    }
}